
/****** Object:  Table [dbo].[CTHDBANHANG]    Script Date: 03/05/2023 10:32:48 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTHDBANHANG](
	[MAHD] [int] NOT NULL,
	[MASP] [varchar](5) NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[DONGIA] [int] NOT NULL,
	[THANHTIEN] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HDBANHANG]    Script Date: 03/05/2023 10:32:48 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HDBANHANG](
	[MAHD] [int] NOT NULL,
	[NGAYBAN] [datetime] NOT NULL,
	[MANV] [varchar](30) NOT NULL,
	[MAKH] [int] NOT NULL,
	[TONGTIEN] [int] NOT NULL,
	[GHICHU] [ntext] NULL,
 CONSTRAINT [PK_HDBANHANG] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 03/05/2023 10:32:48 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [int] NOT NULL,
	[HOTEN] [nvarchar](50) NOT NULL,
	[EMAIL] [varchar](50) NOT NULL,
	[DIACHI] [ntext] NOT NULL,
	[DIENTHOAI] [varchar](20) NOT NULL,
	[NGAYSINH] [datetime] NOT NULL,
	[GIOITINH] [bit] NOT NULL,
	[XOA] [bit] NOT NULL,
	[GHICHU] [ntext] NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAISANPHAM]    Script Date: 03/05/2023 10:32:48 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAISANPHAM](
	[MALOAISP] [varchar](5) NOT NULL,
	[TEN] [nvarchar](50) NOT NULL,
	[XOA] [bit] NOT NULL,
	[GHICHU] [ntext] NULL,
 CONSTRAINT [PK_LOAISANPHAM] PRIMARY KEY CLUSTERED 
(
	[MALOAISP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 03/05/2023 10:32:48 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [varchar](30) NOT NULL,
	[MATKHAU] [char](32) NOT NULL,
	[HOTEN] [nvarchar](50) NOT NULL,
	[DIACHI] [ntext] NOT NULL,
	[DIENTHOAI] [varchar](20) NOT NULL,
	[NGAYSINH] [datetime] NOT NULL,
	[GIOITINH] [bit] NOT NULL,
	[XOA] [bit] NOT NULL,
	[GHICHU] [ntext] NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHASANXUAT]    Script Date: 03/05/2023 10:32:48 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHASANXUAT](
	[MANSX] [int] NOT NULL,
	[TEN] [nvarchar](255) NOT NULL,
	[WEBSITE] [varchar](50) NOT NULL,
	[EMAIL] [varchar](50) NOT NULL,
	[XOA] [bit] NOT NULL,
	[GHICHU] [ntext] NULL,
 CONSTRAINT [PK_NHASANXUAT] PRIMARY KEY CLUSTERED 
(
	[MANSX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 03/05/2023 10:32:48 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MASP] [varchar](5) NOT NULL,
	[TEN] [nvarchar](255) NOT NULL,
	[MALOAISP] [varchar](5) NOT NULL,
	[MANSX] [int] NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[DONGIA] [int] NOT NULL,
	[MOTA] [ntext] NULL,
	[XOA] [bit] NOT NULL,
	[GHICHU] [ntext] NULL,
	[ANH] [image] NULL,
 CONSTRAINT [PK_SANPHAM] PRIMARY KEY CLUSTERED 
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 03/05/2023 10:32:48 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[TENDANGNHAP] [varchar](30) NOT NULL,
	[MATKHAU] [char](32) NOT NULL,
 CONSTRAINT [PK_TAIKHOAN] PRIMARY KEY CLUSTERED 
(
	[TENDANGNHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CTHDBANHANG]  WITH CHECK ADD  CONSTRAINT [FK_MAHOADON] FOREIGN KEY([MAHD])
REFERENCES [dbo].[HDBANHANG] ([MAHD])
GO
ALTER TABLE [dbo].[CTHDBANHANG] CHECK CONSTRAINT [FK_MAHOADON]
GO
ALTER TABLE [dbo].[CTHDBANHANG]  WITH CHECK ADD  CONSTRAINT [FK_MASANPHAM] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[CTHDBANHANG] CHECK CONSTRAINT [FK_MASANPHAM]
GO
ALTER TABLE [dbo].[HDBANHANG]  WITH CHECK ADD  CONSTRAINT [FK_HDBANHANG_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[HDBANHANG] CHECK CONSTRAINT [FK_HDBANHANG_NHANVIEN]
GO
ALTER TABLE [dbo].[HDBANHANG]  WITH CHECK ADD  CONSTRAINT [FK_MAKH] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[HDBANHANG] CHECK CONSTRAINT [FK_MAKH]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_TAIKHOAN] FOREIGN KEY([MANV])
REFERENCES [dbo].[TAIKHOAN] ([TENDANGNHAP])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_TAIKHOAN]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_MALOAISP] FOREIGN KEY([MALOAISP])
REFERENCES [dbo].[LOAISANPHAM] ([MALOAISP])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_MALOAISP]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_MANSX] FOREIGN KEY([MANSX])
REFERENCES [dbo].[NHASANXUAT] ([MANSX])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_MANSX]
GO
